<mat-card class="card">
    <mat-card-header>
        <mat-card-title> {{movieData.title}} </mat-card-title>
        <mat-card-subtitle>{{ movieData.director }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="movieData.image" alt="Movie Card Image">
    <mat-card-actions>
        <button mat-mini-fab color="primary" (click)="repo.openDialog(movieData, 'Düzenle')">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="repo.deleteMovie(movieData.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>