.home-main {
    padding-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    .cards {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .card {
            display: flex;
            justify-content: center;
        }
    }

    .filter-area {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}


@media (max-width: 1105px) {
    .cards {
        grid-template-columns: repeat(1, 1fr) !important;
        padding: 0 10px;
    }
}

.spinner-loading {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}