mat-card {
    mat-card-title {
        color: #fff;
    }

    form {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-dialog-actions {
        justify-content: end !important;
    }
}